/* Grid */
td {
  width:30px;
  height:30px;
  border:1px solid grey;
}

.start{
  background:green;
}

.end {
  background:red;
}

.notVisited {
  background:None;
}

.visited {
  background:blue;
  transition: all .3s;
}